variables :root {
  --primary: #2df01b;
  --secondary: white;
}

@font-face {
  font-family: "CooperFiveOpti";
  src: url("CooperFiveOpti-Black.otf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

.picbanner {
  position: absolute;
  z-index: -2;
  margin: 0;
  padding: 0;
  border: 0;
  height: 90vh;
  width: 100%;
}

.bannerText {
  position: relative !important;
}
.storeFront {
  margin: 0;
  padding: 0;
  border: 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 2fr 1fr;
}

.contact-form {
  width: 90%;
}
.contact-page {
  width: 100vw !important;
}
body {
  /* font-family: "Dancing Script", cursive; */
  font-family: "Gotu", sans-serif;
  width: 100vw !important;
  min-width: 375px !important;

  /* overflow: scroll;
   overflow-x: hidden; */
  background: white;
  background-color: white !important;
}
.slick-list {
  width: 1em;
  height: 10em;
}

* {
  /* font-family: "Raleway", sans-serif; */
  font-family: "Gotu", sans-serif;
  /* font-family: 'MuseoModerno', cursive; */
}

.bottom {
  position: sticky;
}

.sandf {
  display: grid;
  grid-template-columns: 1fr;
}
.sellerdash {
  display: grid;
  grid-template-columns: 1fr;
}
.prodInfo {
  padding: 0;
  border: 0;
  margin: 0;
}

.navb {
  background-color: #343a40 !important;
  background-color: #343a40 !important;
  position: sticky !important;
  top: 0;

  z-index: 7;
  width: 100% !important;
}
li {
  list-style-type: none;
}
html {
  min-height: 100%;
}
.collapse {
  z-index: 5;
  background-color: #343a40 !important;
}
.button {
  background: none;
  border: 2px solid var(--primary);
  color: var(--primary);
  padding: "6px 12px";
  border-radius: 20px;
  text-transform: uppercase;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.6);
  display: inline-block;
}
li.na-list > a :hover {
  text-decoration: none;
}
.button:hover {
  color: #ff006c;
  background: var(--primary);
}

input,
textarea {
  background: rgba(255, 255, 255, 0.699);
  padding: 10px 16px;
  border-radius: 20px;
  border: 2px solid #9893d8;
  color: #f2f2f2;
}

.hgrid {
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.navul {
  display: flex;
  list-style: none;
}

.navul > li {
  margin-left: 15px;
}
.input {
  color: black;
}
.sec1 {
  width: 100vw;
  display: inline-flex;
}
.productPage {
  width: 100vw !important ;
}
.allProducts {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.3em;
  max-width: 100vw !important;
}
.prdiv {
  width: 13em !important;
}
#root > div.container.center > div.productPage.mt-5 > div .UPS {
  justify-self: center;
}
.UP {
  text-decoration: none;
  border-color: #0a0b5b;
  border-radius: 51px;
  border-width: 15px;
  border-width: 4px;
  padding: 20px;
  opacity: 0.7;
}
p.rights {
  color: rgba(255, 255, 255, 0.5);
}
.thumb {
  height: 2.9em;
  width: 3em !important;
}
.thumb > img {
  height: 2.9em;
  width: 3em !important;
}
.prodDetails {
  padding: 0;
  margin: 0;

  background-color: #f7f7f7;
}
#root > div:nth-child(2) > div:nth-child(4) > a > img {
  width: 13.3em !important;
  height: 15em !important;
}
.jumboPic {
  height: 10em !important;
}
p.rights a {
  color: rgba(255, 255, 255, 0.5);
}

.UP:hover {
  color: #ff006c;
  text-decoration: none;
}
.ulinks {
  justify-self: right;
}
.footer {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.sec1 > div {
  background-size: cover;
  background-position: top center;
  height: 11rem;
  width: 11rem;
  justify-content: center;
  overflow: hidden;
}

.bg-dark {
  background-color: #343a40 !important;
}
.jumbotxt {
  color: white;
  font-size: 40px;
}
li.active {
  background-color: #ff006c !important;
}
.navbrands {
  color: #ff006c;
  font-family: "CooperFiveOpti";
  border-bottom: 0;
  /* font-family: "Amita", cursive; */
  font-size: 25px;
  background-color: none !important;
}

nav.navbrands {
  color: #ff006c;
  background-color: #343a40 !important;
}
nav.navbrands :hover {
  text-decoration: none !important;
  color: #ff006c;
}
nav {
  background-color: white;
}
.prodCard {
  width: 18em;
  height: 21em;
}
.singleCar {
  width: 24em;
  height: 28em;
}
.image {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  gap: 4em;
}
.singleCardImg {
  width: 30em;
  height: 29em;
}

div.productcar > div.carousel-slider {
  width: 2em;
  height: 5em;
}

.prodCardFooter {
  background-color: white;
  width: 13em;
  height: 8.1em;
}
.prodCardImg {
  width: 11.6em;
  height: 5em;
}
.BrainhubCarouselItem {
  width: 15em;
  height: 14em;
}

div.productcar {
  height: 5em;
}
div.display-4
  > div.carousel-root
  > div.carousel-slider
  > div.slider-wrapper
  > ul.slider
  > li.slide
  > div
  > img.prodCardImg {
  height: 6em;
}

.footerdiv {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}
/*570-731*/
/*small tablets*/
@media (min-width: 500px) {
  html {
    min-height: 100%;
  }

  div.jumboCar > div.carousel-slider {
    width: 2em;
    height: 19em;
  }
  .navb {
    background-color: #343a40 !important;
    background-color: #343a40 !important;
    position: relative !important;
    top: 0;

    z-index: 7;
    width: 100% !important;
  }
  .jumboPic {
    height: 10em;
  }
  .singleCar {
    width: 20em;
    height: 20em !important;
  }
  .image {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0.01em;
    padding: 0 !important;
    padding-bottom: 7em !important;
  }
  .singleCardImg {
    width: 30em;
    height: 29em;
  }
  .jumbotxt {
    color: white;
    font-size: 40px;
    height: 8em;
  }
  .prdiv {
    width: 18em !important;
  }
  #root
    > div:nth-child(2)
    > div.display-4.lead.jumbotxt
    > div
    > div
    > div
    > ul
    > li
    > div {
    height: 20em;
  }
  .sandf {
    display: grid;
    grid-template-columns: 3.6fr 1fr;
  }
  .prodCard {
    width: 14em;
    height: 19em;
  }
  .prodCardBody {
    width: 14em;
    height: 15em;
  }
  .prodCardFooter {
    width: 14em;
    height: 7em;
  }
  .prodCardImg {
    width: 11.6em;
    height: 5em;
  }
  .sec1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .allProducts {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.7em;
  }

  .signUp {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(8, 1fr);
  }
  li.BrainhubCarouselItem > img.sec_img {
    width: 15em;
    height: 14em;
  }
  .sigupform {
    grid-column: 2/5;
    grid-row: 2/8;
  }
  .signIn {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(8, 1fr);
  }
  .siginform {
    grid-column: 2/5;
    grid-row: 2/8;
  }
  .productPage {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 7fr;
    grid-auto-columns: minmax(150px, 250px);
    gap: 30px;
  }
  div.display-4
    > div.carousel-root
    > div.carousel-slider
    > div.slider-wrapper
    > ul.slider
    > li.slide
    > div
    > img.prodCardImg {
    height: 5em;
  }

  div.display-4
    > div.carousel-root
    > div.carousel-slider
    > div.slider-wrapper
    > ul.slider
    > li.slide
    > div
    > img.jumboPic {
    height: 15em !important;
  }
  .sec1 > div {
    margin: 3px;
    background-size: cover;
    background-position: top center;
    height: 15rem;
    width: 15rem;
    justify-content: center;
    overflow: hidden;
  }
  .footerdiv {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    align-content: center;
    justify-content: center;
    justify-items: center;
    align-items: center;
  }
}

/*large tablets and laptop*/
@media (min-width: 920px) {
  html {
    min-height: 100%;
  }

  div.jumboCar > div.carousel-slider {
    width: 2em;
    height: 35em;
  }
  .navb {
    background-color: #343a40 !important;
    background-color: #343a40 !important;
    position: relative !important;
    top: 0;

    z-index: 7;
    width: 100% !important;
  }
  .sandf {
    display: grid;
    grid-template-columns: 3.6fr 1fr;
  }
  .singleCar {
    width: 33em;
    height: 25em !important;
  }
  .singleCardImg {
    width: 35em;
    height: 29em;
  }
  .image {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0.01em;
    padding: 0 !important;
    padding-bottom: 7em !important;
  }

  .contact-page {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 15px;
  }
  .prodCard {
    width: 14em;
    height: 19em;
  }

  div.productcar > div.carousel-slider {
    width: 2em;
    height: 2.4em;
  }

  .prodCardBody {
    width: 14em;
    height: 14em;
  }
  li.BrainhubCarouselItem > img.sec_img {
    width: 15em;
    height: 14em;
  }
  .prodCardFooter {
    width: 13.5em;
    height: 9em;
  }
  .prodCardImg {
    width: 11.6em;
    height: 5em;
  }

  .productPage {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 7fr;
    grid-auto-columns: minmax(150px, 250px);
    gap: 30px;
  }
  .signUp {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
  }
  .sec1 {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
  }
  .allProducts {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
  }
  .sigupform {
    grid-column: 2/5;
  }
  .prodCard {
    width: 18em;
    height: 21em;
  }

  div.productcar > div.carousel-slider {
    width: 2em;
    height: 5em;
  }

  div.display-4
    > div.carousel-root
    > div.carousel-slider
    > div.slider-wrapper
    > ul.slider
    > li.slide
    > div
    > img.prodCardImg {
    height: 5em;
  }

  .sec1 > div {
    margin: 3px;
    background-size: cover;
    background-position: top center;
    height: 15rem;
    width: 15rem;
    justify-content: center;
    overflow: hidden;
  }
  .footerdiv {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    align-content: center;
    justify-content: center;
    justify-items: center;
    align-items: center;
  }
}

/*desktop*/
@media (min-width: 1200px) {
  html {
    min-height: 100%;
  }
  .navb {
    background-color: #343a40 !important;
    background-color: #343a40 !important;
    position: relative !important;
    top: 0;

    z-index: 7;
    width: 100% !important;
  }
  .prodCard {
    width: 18em;
    height: 21em;
  }
  .sandf {
    display: grid;
    grid-template-columns: 3.6fr 1fr;
  }
  div.productcar > div.carousel-slider {
    width: 2em;
    height: 5em;
  }

  .prodCardBody {
    width: 18em;
    height: 19em;
  }
  .prodCardFooter {
    width: 17.8em;
    height: 10em;
  }
  .prodCardImg {
    width: 15em;
    height: 5em;
  }
  li.BrainhubCarouselItem > img.sec_img {
    width: 15em;
    height: 14em;
  }

  .checkOut-page {
    display: grid;
    grid-template-columns: 4fr 4fr;
    gap: 15px;
  }
  .productPage {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 7fr;
    grid-auto-columns: minmax(150px, 250px);
    gap: 30px;
  }

  .sec1 {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
  }
  .allProducts {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
  }
  .signUp {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
  }
  .sigupform {
    grid-column: 2/5;
  }

  .footerdiv {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    align-content: center;
    justify-content: center;
    justify-items: center;
    align-items: center;
  }
}

div.display-4
  > div.carousel-root
  > div.carousel-slider
  > div.slider-wrapper
  > ul.slider
  > li.slide
  > div
  > img.prodCardImg {
  height: 5em;
}
