variables :root {
  --primary: #ffc636;
  --secondary: #f3e5f5;
}

@font-face {
  font-family: "CooperFiveOpti";
  src: url("CooperFiveOpti-Black.otf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

/* s */
/* .contact-page {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

*/
body {
  /* font-family: "Dancing Script", cursive; */
  font-family: "Raleway", sans-serif;

  /* overflow: scroll;
   overflow-x: hidden; */
  background: var(--secondary);
}
.slick-list {
  width: 1em;
  height: 10em;
}

* {
  /* font-family: "Raleway", sans-serif; */
  font-family: "Gotu", sans-serif;
  /* font-family: 'MuseoModerno', cursive; */
}

bottom {
  position: sticky;
}
.prodCard {
  width: 14em;
  height: 19em;
}
.prodCardBody {
  width: 14em;
  height: 15em;
}
.prodCardFooter {
  width: 14em;
  height: 6.9em;
}
.prodCardImg {
  width: 11.6em;
  height: 3em;
}

.sandf {
  display: inline-flex;
}
.sellerdash {
  display: grid;
  grid-template-columns: 1fr;
}
.prodInfo {
  padding: 0;
  border: 0;
  margin: 0;
}
.navb {
  background-color: #0a0b5b;
  position: sticky;
  top: 0;
  z-index: 7;
}
li {
  list-style-type: none;
}
html {
  min-height: 100%;
}
.collapse {
  z-index: 5;
  background-color: #0a0b5b;
}
.button {
  background: none;
  border: 2px solid var(--primary);
  color: var(--primary);
  padding: "6px 12px";
  border-radius: 20px;
  text-transform: uppercase;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.6);
  display: inline-block;
}

.button:hover {
  color: #222;
  background: var(--primary);
}

input,
textarea {
  background: rgba(255, 255, 255, 0.699);
  padding: 10px 16px;
  border-radius: 20px;
  border: 2px solid #9893d8;
  color: #f2f2f2;
}

.hgrid {
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.navul {
  display: flex;
  list-style: none;
}

.navul > li {
  margin-left: 15px;
}
.input {
  color: black;
}
.sec1 {
  width: 100vw;
  display: inline-flex;
}
.allProducts {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.7em;
}

.UPS {
  justify-self: center;
}
.UP {
  text-decoration: none;
  border-color: #0a0b5b;
  border-radius: 51px;
  border-width: 15px;
  border-width: 4px;
  padding: 20px;
  opacity: 0.7;
}
.UP:hover {
  text-decoration: none;
}
.ulinks {
  justify-self: right;
}
.footer {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* justify-content: right;
  justify-items: right; */
}
.sec1 > div {
  margin: 3px;
  background-size: cover;
  background-position: top center;
  height: 11rem;
  width: 11rem;
  justify-content: center;
  overflow: hidden;
}
.jumb {
  background-image: url("./components/shop/2.jpg");
  background-size: cover;
  background-position: top center;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 500px;
  color: white;
}

.jumbotxt {
  color: white;
  font-size: 40px;
}
.navbrands {
  font-family: "CooperFiveOpti";
  /* font-family: "Amita", cursive; */
  font-size: 25px;
}
nav {
  background-color: white;
}
div.productcar > div.carousel > div.slider-wrapper > ul.slider > li.slide {
}
div.productcar
  > div.carousel-slider
  > div.slider-wrapper
  > ul.slider
  > li.slide {
  height: 3em;
}
div.productcar > div.carousel > div.slider-wrapper > ul.slider {
}
div.productcar > div.carousel-slider > div.slider-wrapper > ul.slider {
}

div.productcar > div.carousel {
}
div.productcar > div.carousel-slider {
  width: 2em;
  height: 3em;
}
div.mb-2 > div > div > div > div > div > div {
  height: 3em;
}

/*small tablets*/
@media (min-width: 500px) {
  html {
    min-height: 100%;
  }
  .prodCard {
    width: 14em;
    height: 19em;
  }
  .prodCardBody {
    width: 14em;
    height: 15em;
  }
  .prodCardFooter {
    width: 14em;
    height: 7em;
  }
  .prodCardImg {
    width: 11.6em;
    height: 3em;
  }
  .sec1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .allProducts {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.7em;
  }

  .signUp {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(8, 1fr);
  }
  .sigupform {
    grid-column: 2/5;
    grid-row: 2/8;
  }
  .signIn {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(8, 1fr);
  }
  .siginform {
    grid-column: 2/5;
    grid-row: 2/8;
  }
  .productPage {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 7fr;
    grid-auto-columns: minmax(150px, 250px);
    gap: 30px;
  }

  .sec1 > div {
    margin: 3px;
    background-size: cover;
    background-position: top center;
    height: 15rem;
    width: 15rem;
    justify-content: center;
    overflow: hidden;
  }
}

/*large tablets and laptop*/
@media (min-width: 920px) {
  html {
    min-height: 100%;
  }
  .contact-page {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 15px;
  }
  .prodCard {
    width: 14em;
    height: 19em;
  }

  div.productcar > div.carousel-slider {
    width: 2em;
    height: 2.4em;
  }

  .prodCardBody {
    width: 14em;
    height: 14em;
  }
  .prodCardFooter {
    width: 13.5em;
    height: 9em;
  }
  .prodCardImg {
    width: 11.6em;
    height: 2.5em;
  }

  .productPage {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 7fr;
    grid-auto-columns: minmax(150px, 250px);
    gap: 30px;
  }
  .signUp {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
  }
  .sec1 {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
  }
  .allProducts {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
  }
  .sigupform {
    grid-column: 2/5;
  }

  .sec1 > div {
    margin: 3px;
    background-size: cover;
    background-position: top center;
    height: 15rem;
    width: 15rem;
    justify-content: center;
    overflow: hidden;
  }
}

/*desktop*/
@media (min-width: 1200px) {
  html {
    min-height: 100%;
  }
  .prodCard {
    width: 18em;
    height: 21em;
  }
  div.productcar > div.carousel-slider {
    width: 2em;
    height: 3em;
  }

  .prodCardBody {
    width: 18em;
    height: 19em;
  }
  .prodCardFooter {
    width: 17.8em;
    height: 10em;
  }
  .prodCardImg {
    width: 15em;
    height: 3em;
  }

  .contact-page {
  }

  .checkOut-page {
    display: grid;
    grid-template-columns: 4fr 4fr;
    gap: 15px;
  }
  .productPage {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 7fr;
    grid-auto-columns: minmax(150px, 250px);
    gap: 30px;
  }

  .sec1 {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
  }
  .allProducts {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
  }
  .signUp {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
  }
  .sigupform {
    grid-column: 2/5;
  }
}
